<mat-sidenav-container class="sidenav-container" [style.height.px]="mobileContainerNav">
  <!--
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  -->
  <mat-sidenav-content>
     

    <mat-toolbar color="primary">
       <!--
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        -->
      <div class="container-fluid">
        <div class="container custom-container">
          
            <div class="logo">
              <span>KEVIN MORALES</span>
            </div>
            <div class="mr-auto"></div>

            <div class="navigation-menu">
              <ul class="navigation-list">
                <li class="navigation-item">
                  <a class="navigation-item-link" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li class="navigation-item">
                  <a class="navigation-item-link" routerLink="resume" routerLinkActive="active">Resume</a>
                </li>
                <li class="navigation-item">
                  <a class="navigation-item-link" (click)="onClick('about-site')">About</a>
                </li>
                <li class="navigation-item">
                  <a class="navigation-item-link" (click)="onClick('work-site')">Works</a>
                </li>
                <li class="navigation-item">
                  <a class="navigation-item-link" (click)="onClick('contact-site')">Contact</a>
                </li>
              </ul>   
            </div> 

            <div class="navigation-menu-icon">
              
                <span class="material-icons" (click)="mobileNavShow()">menu</span>
              
              <div class="mobile-nav" [style.display]="displayItem">
                    <ul class="mobile-list">
                      <li class="mobile-item">
                        <a class="mobilie-item-link" routerLink="home" routerLinkActive="active">Home</a>
                      </li>
                      <li class="mobile-item">
                        <a class="mobilie-item-link" routerLink="resume" routerLinkActive="active">Resume</a>
                      </li>
                      <li class="mobile-item">
                        <a class="mobilie-item-link" (click)="onClick('about-site')">About</a>
                      </li>
                      <li class="mobile-item">
                        <a class="mobilie-item-link" (click)="onClick('work-site')">Work</a>
                      </li>
                      <li class="mobile-item">
                        <a class="mobilie-item-link" (click)="onClick('contact-site')">Contact</a>
                      </li>
                    </ul>
              </div>
          
          
            </div>
          
        </div>
      </div>
  </mat-toolbar>
      

  </mat-sidenav-content>
</mat-sidenav-container>
