
<div class="container">
    <h2>My Sample Work</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/work/corporate-design.png" alt="">
            <h4>Corporate Design</h4>
        </div>
        <div class="col-lg-4 col-m-4">
          <div class="video">
            <video controls>
              <source src="assets/video/online-shop.mp4" type="video/mp4">
            </video>
          </div>
          <h4>Online Shop</h4>
		  <h4>MEAN STACK</h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <a href="https://kev1118.github.io/myBlog/home" target="_blank">
                <img src="assets/image/work/myblog.png" alt="">
            </a>
            <h4>My Blog Site</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-m-4">
          <img src="assets/image/no-image.jpg" alt="">
          <h4></h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/no-image.jpg" alt="">
            <h4></h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/no-image.jpg" alt="">
            <h4></h4>
        </div>
    </div>
</div>
