
<div class="container">
    <h2>My Sample Work</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/work/corporate-design.png" alt="">
            <h4>Corporate Design</h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/work/Online-shop.png" alt="">
            <h4>Online Shop</h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/no-image.jpg" alt="">
            <h4></h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/no-image.jpg" alt="">
            <h4></h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/no-image.jpg" alt="">
            <h4></h4>
        </div>
        <div class="col-lg-4 col-m-4">
            <img src="assets/image/no-image.jpg" alt="">
            <h4></h4>
        </div>
    </div>
</div>
