
<div class="container resume-container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 p-0">
            <img class="profile-bg" src="assets/image/profile-bg.jpg" alt="profile-bg-img">
            <img class="profile" src="assets/image/profile-120.png" alt="profile-img">
            <h4 class="my-name">Kevin Morales</h4>
            <h6 class="res-title">Aspiring Web designer/developer</h6>

            <div class="social">
                <span><i class="fab fa-facebook"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="fab fa-instagram"></i></span>
            </div>

            <div class="btn dl-btn">
                <a [download]="myfilename" [href]="fileUrl">
                    <button class="btn-download">Download CV <i class="fas fa-arrow-alt-circle-down"></i></button>
                </a>
                <button class="btn-contact">CONTACT ME <i class="fas fa-phone"></i></button>
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="about-me">
                        <h4>ABOUT ME</h4>
                        <p class="res-p text-left">I'm Kevin Morales, I've worked as a desktop application programmer for 1.3 year. I'm currently studying web development, I've started Aug 2020 and I've learned a lot of things from udemy, youtube and google.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h4>PERSONAL INFO</h4>
                    <div class="res-info">
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">Age. . .</div>
                                    <div class="pull-right">24</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">E-mail. . .</div>
                                    <div class="pull-right">moralesk765@gmail.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">Residence. . .</div>
                                    <div class="pull-right">Philippines</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">Address. . .</div>
                                    <div class="pull-right">Victoria Reyes Dasmariñas City, Cavite</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="res-edu">
                    <h4>EDUCATION</h4>
                        <p class="res-p font-bold">Bachelor of Science in Computer Engineering</p>
                        <p class="res-p font-bold">National College of Science & Technology</p>
                        <p class="res-p">Amafel Building, Aguinaldo Highway</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h4>SKILLS</h4>
                    <div class="res-skill">
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">MS SQL. . .</div>
                                    <div class="pull-right">Intermediate</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">MySQL. . .</div>
                                    <div class="pull-right">Intermediate</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">MS Office. . .</div>
                                    <div class="pull-right">Intermediate</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">HTML/CSS/JAVASCRIPT/JQUERY. . .</div>
                                    <div class="pull-right">Beginner</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">PHP/Laravel. . .</div>
                                    <div class="pull-right">Beginner</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">Angular. . .</div>
                                    <div class="pull-right">Beginner</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">typescript. . .</div>
                                    <div class="pull-right">Beginner</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">VB6/VBA/VB.NET. . .</div>
                                    <div class="pull-right">Beginner</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-highlight">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pull-left info-lbl">Java. . .</div>
                                    <div class="pull-right">Beginner</div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            

        </div>

    </div>
</div>

<div class="container cert-container mb-5">
    <h2>Certifications</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/image/certs/cert-front-end.jpg" class="img-fluid" alt="cert-01">
            <h3>From Udemy by Fatah Gabriel</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <img src="assets/image/certs/cert-front-end-web-dev-course.jpg" class="img-fluid" alt="cert-01">
            <h3>From Udemy by Joseph Delgadillo</h3>
        </div>
    </div>
</div>