
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <p>+639665388712/+639631691880</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#" class="footer-link">moralesk765@gmail.com</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <p>&copy; 2020 Kevin Morales</p>
            </div>
        </div>
        <div class="move-up" (click)="scrollToTop()">
            <span class="material-icons">
                arrow_circle_up
            </span>
           
        </div>
    </div>
</footer>