

<app-navigationbar></app-navigationbar>
<!---
<app-home-component></app-home-component>
<app-about-component></app-about-component>
<app-work-component></app-work-component>

<div class="container">
    <h2 class="mywork-title">My Sample Work</h2>
    <div class="row justify-content-center">
        <app-work-component [workSet]="firstWorkSet"></app-work-component>
        <app-work-component [workSet]="secondWorkSet"></app-work-component>
        <app-work-component [workSet]="thirdWorkSet"></app-work-component>
    </div>
    <div class="row justify-content-center">
        <app-work-component [workSet]="thirdWorkSet"></app-work-component>
        <app-work-component [workSet]="thirdWorkSet"></app-work-component>
        <app-work-component [workSet]="thirdWorkSet"></app-work-component>
    </div>
</div>
-->


<router-outlet></router-outlet>
<div id="contact-site">
    <app-footer-component></app-footer-component>
</div>