
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="about-image">
                <img src="assets/image/about-us.png" alt="about-img" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <h2 class="pt-5">Who I am</h2>
            <div class="about-me-body">
                <p>"I'm Kevin Morales, I've worked as a desktop application programmer for 1.3 year. I'm currently studying web development, I've started Aug 2020 and I've learned a lot of things from udemy, youtube and google. Right now I'm looking for junior web design or development to gain experience and more knowledge while helping the company grow."</p>
            </div>
            <a [download]="myfilename" [href]="fileUrl">
                <button class="btn button primary-button text-uppercase btn-download">Download CV</button>
            </a>
        </div>
    </div>
</div>
