
<div id="home-site">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h1>Hello, I'm Kevin Morales,</h1>
                <h2 class="text-uppercase">an aspiring web developer.</h2>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="assets/image/kev1.jpg" class="img-fluid myImage" alt="profile">
            </div>
        </div>
    </div>
</div>

<div id="about-site">
    <app-about-component></app-about-component>
</div>
<div id="work-site">
    <app-work-component></app-work-component>
</div>